<div class="mx-3 justify-content-center">
  <h1 class="text-center my-4">Image-upload-form</h1>
  <div class="row d-flex justify-content-center align-items-center ">
    <div class="col-md-6  col-lg-6  d-flex flex-column   ">
      <form [formGroup]="images">
        <!-- Browser file 1 -->
        <div class="file">
          <label class="form-label" for="number">Select First Image <span class="text-danger">*</span></label>
          <input type="file" (change)="selectFile($event,1)" class="file form-control"  formControlName="imageName"
            [ngClass]="{'is-invalid' : validdation['imageName'].invalid && (submitted || validdation['imageName'].touched || validdation['imageName'].dirty),
                    'is-valid' : validdation['imageName'].valid && (submitted || validdation['imageName'].touched || validdation['imageName'].dirty)}">
          <div
            *ngIf="validdation['imageName'].invalid && (submitted|| validdation['imageName'].touched || validdation['imageName'].dirty)"
            class="danger">
            <div *ngIf="validdation['imageName'].errors?.['required']" class="text-danger">
              image is required.
            </div>
          </div>
        
          <div class=" d-flex justify-content-center">
            <h6 *ngIf="message">{{message}}</h6>
          </div>
        </div>
        <!-- Browser file 2 -->
        <div class="file">
          <label class="form-label" for="number">Select Second Image <span class="text-danger">*</span></label>
          <input type="file" [disabled]="images.valid" (change)="selectFile($event,2)" class="file form-control" formControlName="imageName2"
            [ngClass]="{'is-invalid' : validdation['imageName2'].invalid && (submitted || validdation['imageName2'].touched || validdation['imageName2'].dirty),
          'is-valid' : validdation['imageName2'].valid && (submitted || validdation['imageName2'].touched || validdation['imageName2'].dirty)}">
          <div
            *ngIf="validdation['imageName2'].invalid && (submitted|| validdation['imageName2'].touched || validdation['imageName2'].dirty)"
            class="danger">
            <div *ngIf="validdation['imageName2'].errors?.['required']" class="text-danger">
              image is required.
            </div>
          </div>
          <div class=" d-flex justify-content-center">
            <h6 *ngIf="message1">{{message1}}</h6>
          </div>
        </div>
        <!-- Browser file 3 -->
        <div class="file">
          <label class="form-label" for="number">Select Third Image <span class="text-danger">*</span></label>
          <input type="file" (change)="selectFile($event,2)" class="file form-control" formControlName="imageName3"
            [ngClass]="{'is-invalid' : validdation['imageName3'].invalid && (submitted || validdation['imageName3'].touched || validdation['imageName3'].dirty),
          'is-valid' : validdation['imageName3'].valid && (submitted || validdation['imageName3'].touched || validdation['imageName3'].dirty)}">
          <div
            *ngIf="validdation['imageName3'].invalid && (submitted|| validdation['imageName3'].touched || validdation['imageName3'].dirty)"
            class="danger">
            <div *ngIf="validdation['imageName3'].errors?.['required']" class="text-danger">
              image is required.
            </div>
          </div>
          
          <div class=" d-flex justify-content-center">
            <h6 *ngIf="message2">{{message2}}</h6>
          </div>
        </div>
      
        <!-- Browser file 4 -->
        <div class="file">
          <label class="form-label" for="number">Select Second Image <span class="text-danger">*</span></label>
          <input type="file" (change)="selectFile($event,2)" class="file form-control" formControlName="imageName4"
            [ngClass]="{'is-invalid' : validdation['imageName4'].invalid && (submitted || validdation['imageName4'].touched || validdation['imageName4'].dirty),
          'is-valid' : validdation['imageName4'].valid && (submitted || validdation['imageName4'].touched || validdation['imageName4'].dirty)}">
          <div
            *ngIf="validdation['imageName4'].invalid && (submitted|| validdation['imageName4'].touched || validdation['imageName4'].dirty)"
            class="danger">
            <div *ngIf="validdation['imageName4'].errors?.['required']" class="text-danger">
              image is required.
            </div>
          </div>
          <div class=" d-flex justify-content-center">
            <h6 *ngIf="message3">{{message3}}</h6>
          </div>
        <!-- Browser file 5 -->
        <div class="file">
          <label class="form-label" for="number">Select Second Image <span class="text-danger">*</span></label>
          <input type="file" (change)="selectFile($event,2)" class="file form-control" formControlName="imageName5"
            [ngClass]="{'is-invalid' : validdation['imageName5'].invalid && (submitted || validdation['imageName5'].touched || validdation['imageName5'].dirty),
          'is-valid' : validdation['imageName5'].valid && (submitted || validdation['imageName5'].touched || validdation['imageName5'].dirty)}">
          <div
            *ngIf="validdation['imageName5'].invalid && (submitted|| validdation['imageName5'].touched || validdation['imageName5'].dirty)"
            class="danger">
            <div *ngIf="validdation['imageName5'].errors?.['required']" class="text-danger">
              image is required.
            </div>
          </div>
          <div class=" d-flex justify-content-center">
            <h6 *ngIf="message4">{{message4}}</h6>
          </div>
        </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type=" button" class="btn btn-success " [disabled]="images.invalid">Next</button>
        </div>
      </form>
    </div>
  </div>
