<!-- <form [formGroup]="form">
    <div *ngFor="let keyvalue of form.controls | keyvalue; let i = index">
      {{ productInformation[i].labelname }}
       Browser file 4 -->
       <!-- <div class="file">
        <input type="file" (change)="selectFile($event)" class="file form-control"  formControlName="imagepath11">
        <div [innerHtml]='msg' *ngIf="msg" class="text-danger"></div>
        <div><img [src]="" width="100" class="mt-2"></div>
      </div>
    </div>
  </form> -->
  <div class="mx-3 justify-content-center">
    <h1 class="text-center my-4">Image-upload-form</h1>
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-md-6  col-lg-6  d-flex flex-column   ">
  
        <form [formGroup]="form">
          <!-- Browser file 1 -->
          <div class="file" *ngFor="let keyvalue of form.controls | keyvalue; let i = index">
            <label class="form-label" for="number">Select First Image <span class="text-danger">*</span></label>
            <input type="file" (change)="selectFile($event)" class="file form-control" formControlName="imagepath1"
              [ngClass]="{'is-invalid' : validdation['imagepath1'].invalid && (submitted || validdation['imagepath1'].touched || validdation['imagepath1'].dirty),
                      'is-valid' : validdation['imagepath1'].valid && (submitted || validdation['imagepath1'].touched || validdation['imagepath1'].dirty)}">
            <div
              *ngIf="validdation['imagepath1'].invalid && (submitted|| validdation['imagepath1'].touched || validdation['imagepath1'].dirty)"
              class="danger">
              <div *ngIf="validdation['imagepath1'].errors?.['required']" class="text-danger">
                image is required.
              </div>
            </div>
            <div [innerHtml]='msg' *ngIf=" msg" class="text-danger">
            </div>
            <div class="d-flex  justify-content-center align-items-center">
              <img [src]="base64String" width="100" class="mt-2 ">
              <div *ngIf="currentFile" class="progress w-100 mx-4">
                <div class="progress-bar  progress-bar-striped" role="progressbar"
                  attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" 
                  [ngStyle]="{ width: progress + '%' }">
                  {{ progress }}% 
                </div>
              </div>
            </div>
            <div class=" d-flex justify-content-center"><h6 *ngIf="message">{{message}}</h6></div>
          </div>
          
          <!-- <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()"></button> -->
          <button type="button" class="btn btn-success">Next</button>
        </form>
      </div>
    </div>
  
  